[submodule "WSL/Redmond-Themes/Redmond-Themes"]
	path = WSL/Redmond-Themes/Redmond-Themes
	url = https://github.com/B00merang-Project/Redmond-Themes.git
[submodule "macOS/darwin-libpthread"]
	path = macOS/darwin-libpthread
	url = https://github.com/apple/darwin-libpthread.git
