#lyrics {
  background-image: url("../images/songs/background.jpg");
}

#lyrics .songs {
  left: 40px;
  top: 20px;
}

/* arrows */

#lyrics .left-arrow {
  left: 61px;
  top: 140px;
  cursor: pointer;
}

#lyrics .right-arrow {
  left: 1134px;
  top: 140px;
  cursor: pointer;
}

/* play */

#lyrics .play {
  left: 540px;
  top: 20px;
}

#lyrics .lyrics-container {
  position: absolute;
  top: 140px;
  left: 340px;
  width: 600px;
  height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
}
