<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Metadata</key>
        <dict>
                <key>artistName</key>
                <string>Artist Name</string>
                <key>genre</key>
                <string>Hard Rock</string>
                <key>itemName</key>
                <string>iTunes LP - Album Name</string>
                <key>playlistName</key>
                <string>Album Name</string>
                <key>sort-album</key>
                <string>Album Name</string>
                <key>sort-album-status</key>
                <integer>128</integer>
                <key>sort-artist</key>
                <string>Artist Name</string>
                <key>sort-artist-status</key>
                <integer>128</integer>
                <key>sort-name</key>
                <string>iTunes LP - Album Name</string>
                <key>sort-name-status</key>
                <integer>128</integer>
                <key>year</key>
                <integer>2009</integer>
        </dict>
        <key>Name File</key>
        <string>iTunes LP - Album.itlp</string>
</dict>
</plist>
