
<div id="home">
  <img class="title" src="images/home/title.png">
  <div class="menu">
    <div class="play image-fader">
      <img src="images/interface/buttonPlay.png">
      <img src="images/interface/buttonPlayOver.png">
    </div>
    <div class="songs image-fader">
      <img src="images/interface/buttonSongs.png">
      <img src="images/interface/buttonSongsOver.png">
    </div>
    <div class="photos image-fader">
      <img src="images/interface/buttonPhotos.png">
      <img src="images/interface/buttonPhotosOver.png">
    </div>
    <div class="videos image-fader">
      <img src="images/interface/buttonVideos.png">
      <img src="images/interface/buttonVideosOver.png">
    </div>
    <div class="linernotes image-fader">
      <img src="images/interface/buttonLinerNotes.png">
      <img src="images/interface/buttonLinerNotesOver.png">
    </div>
    <div class="credits image-fader">
      <img src="images/interface/buttonCredits.png">
      <img src="images/interface/buttonCreditsOver.png">
    </div>
  </div>
</div>
