
<div id="lyrics">
  <!-- home -->
  <div class="songs image-fader">
    <img src="images/interface/buttonSongs.png">
    <img src="images/interface/buttonSongsOver.png">
  </div>
  <!-- left arrow -->
  <div class="left-arrow image-fader">
    <img src="images/interface/arrowLeft.png">
    <img src="images/interface/arrowLeftOver.png">
  </div>
  <!-- right arrow -->
  <div class="right-arrow image-fader">
    <img src="images/interface/arrowRight.png">
    <img src="images/interface/arrowRightOver.png">
  </div>
  <!-- play -->
  <div class="play image-fader">
    <img src="images/interface/buttonPlaySong.png">
    <img src="images/interface/buttonPlaySongOver.png">
  </div>
  <!-- lyrics container -->
  <div class="lyrics-container">
  </div>
</div>
