
<div id="songs">
  <!-- title -->
  <img class="title" src="images/songs/title.png">
  <!-- navigation buttons -->
  <div class="buttons">
    <div class="home image-fader">
      <img src="images/interface/buttonHome.png">
      <img src="images/interface/buttonHomeOver.png">
    </div>
  </div>
  <div class="songs column1">
    <div id="song01" class="song image-fader">
      <img src="images/songs/buttonSong01.png">
      <img src="images/songs/buttonSong01Over.png">
    </div>
    <div id="song02" class="song image-fader">
      <img src="images/songs/buttonSong02.png">
      <img src="images/songs/buttonSong02Over.png">
    </div>
    <div id="song03" class="song image-fader">
      <img src="images/songs/buttonSong03.png">
      <img src="images/songs/buttonSong03Over.png">
    </div>
  </div>
  <div class="songs column2">
    <div id="song04" class="song image-fader">
      <img src="images/songs/buttonSong04.png">
      <img src="images/songs/buttonSong04Over.png">
    </div>
    <div id="song05" class="song image-fader">
      <img src="images/songs/buttonSong05.png">
      <img src="images/songs/buttonSong05Over.png">
    </div>
    <div id="song06" class="song image-fader">
      <img src="images/songs/buttonSong06.png">
      <img src="images/songs/buttonSong06Over.png">
    </div>
  </div>
  <div class="songs column3">
    <div id="song07" class="song image-fader">
      <img src="images/songs/buttonSong07.png">
      <img src="images/songs/buttonSong07Over.png">
    </div>
    <div id="song08" class="song image-fader">
      <img src="images/songs/buttonSong08.png">
      <img src="images/songs/buttonSong08Over.png">
    </div>
    <div id="song09" class="song image-fader">
      <img src="images/songs/buttonSong09.png">
      <img src="images/songs/buttonSong09Over.png">
    </div>
  </div>

</div>
