
<div id="videos">
  <!-- title -->
  <img class="title" src="images/videos/title.png">
  <!-- home -->
  <div class="home image-fader">
    <img src="images/interface/buttonHome.png">
    <img src="images/interface/buttonHomeOver.png">
  </div>
  <div class="videos">
    <div class="video-button image-fader">
      <img src="images/videos/buttonVideo01.png">
      <img src="images/videos/buttonVideo01Over.png">
    </div>
    <div class="video-button image-fader">
      <img src="images/videos/buttonVideo02.png">
      <img src="images/videos/buttonVideo02Over.png">
    </div>
  </div>
</div>
