XCOMM $Xorg: bsdLib.tmpl,v 1.3 2000/08/17 19:41:47 cpqbld Exp $

/*
 * NetBSD/FreeBSD shared library template
 */

#ifndef SharedXtReqs
#define SharedXtReqs /**/
#endif
#ifndef SharedXawReqs
#define SharedXawReqs /**/
#endif
#ifndef SharedXmuReqs
#define SharedXmuReqs $(LDPRELIBS) $(XTOOLONLYLIB) $(XONLYLIB)
#endif
